.Rproj.user
.Rhistory
.RData
.Ruserdata
ASML-Multiple LR.nb.html
ASML I.Rmd
ASML I.nb.html
ASML Revision.Rmd
ASML Revision.nb.html
ASML-LM.Rmd
ASML-LM.nb.html
ASML-Multiple LR.Rmd
CART.Rmd
CART.nb.html
Cancer Lasso.nb.html
Cancer data.nb.html
Dataset_ozone.csv
Excercise Ozone.Rmd
Excercise Ozone.nb.html
FSML I.Rmd
FSML II.Rmd
LM.nb.html
Multiple LR.nb.html
Poisson Process.nb.html
Poisson_Process.Rmd
Poisson_Process.nb.html
RETCAP (original).Rmd
RETCAP MLR.nb.html
RETCAP.Rmd
RETCAP.nb.html
RETCAP_MLR.Rmd
RETCAP_MLR.nb.html
Train-test split.Rmd
Train-test split.nb.html
Untitled 2.Rmd
Untitled.Rmd
Untitled.nb.html
Variable selection.Rmd
Variable selection.nb.html
cancer_reg.csv
datam.RData
Cancer data CART.nb.html
Conclusion.nb.html
Model selection OLS.nb.html
formula.Rmd
formula.nb.html
Cancer data cleaning.nb.html
